/*****************************************************************/
/*the container must be positioned relative:*/
#autocompleteventa{
  margin-top:40px;
  background-color: #7f7f9f;
  position: absolute;
  box-shadow: 0 1px 3px 0px;
  border-radius: 3px;
  border: 1px solid #FAFAFA;
  z-index: 100;
  /*max-height: 250px;*/
  overflow-y: auto;
  margin-left: 40px;
  background:red;

  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

.selected {
  /*background:#282c34;*/
  /*color:#689577;*/
  /*background:#26394e;*/
  background:#7f7f9f;
  color:white;
  /*background:#9a9a9a;
  /*color: #ffffff;*/
}
/*.list-group-item{
background-color: #e0eafc;
color: #3f80ea;
} */

/**estilo de inputs */ 
.input_style{
  border: 1px solid #7f7f9f;
  border-radius: 5px;
  color: #333;
  font-size: 20px;
  margin: 0 0 20px;
  padding: .5rem 1rem;
  height: 50px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
.input_style_total{
  font-size: 20px;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}
/**ajuste de impresion de pantalla para el ticket*/
#ticket{
  display: none;
}
@media print {
  #ticket{
    display: block;
  }
  #main_content_sale{
    display:none;
  }
  .main-footer{
    display: none;
  }
  .modal-content-cambio{
    display: none; 
  }
}
/*{
    font-size: 12px;
    font-family: 'Times New Roman';
}*/
tr.tr_table{
  border-top: 1px solid black;
  border-collapse: collapse;
}
#content_prod{
    /*font-size: 12px;*/
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.tick_art,
th.tick_art {
    width: 75px;
    max-width: 75px;
    font-size: 12px;
    border-top: 1px solid black;
    border-collapse: collapse;
}

td.tick_cant,
th.tick_cant {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    font-size: 12px;
    border-top: 1px solid black;
    border-collapse: collapse;

}

td.tick_precio,
th.tick_precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    font-size: 12px;
    border-top: 1px solid black;
    border-collapse: collapse;

}

td.tick_total,
th.tick_total {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
    font-size: 12px;
    border-top: 1px solid black;
    border-collapse: collapse;

}

.centrado {
    text-align: center;
    align-content: center;
    font-size: 12px;
    border-top: 1px solid black;
    border-collapse: collapse;
}

#ticket{
  width: 155px;
  max-width: 155px;
  font-size: 12px;
  font-family: 'Times New Roman';
}
#logo_ticket {
    max-width: inherit;
    width: inherit;
}